<footer>
    <p>El Manglar de Bagheera - Todos los derechos reservados</p>
</footer>

<style>
    p{
        color:#fff;
        text-align: center;
    }
    footer{
        background-color:#1D1D1D;
        width:100%;
        font-size: 11px;
        padding: .5rem;
    }
</style>