---
const { text, textButton, bg } = Astro.props;
---

<div class="bg d-flex justify-content-center align-items-center">
  <div class="low-opacity d-flex flex-column align-items-center">
    <p>{text}</p>
    <a>{textButton}</a>
  </div>
</div>

<style>
  p {
    font-size: 1rem;
    text-align: center;
    width: 60%;
    color: #fff;
    font-weight: 400;
  }
  a {
    color: #ffff;
    padding: 0.5rem 2.5rem;
    margin-top: 1rem;
    border: 1px solid #fff;
    text-transform: uppercase;
  }
  a:hover {
    background-color: #fff;
    color: #1d1d1d;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
  }
  .bg {
    background-color: black;
    flex-grow: 1;
    height: 320px;
    min-width: 320px;
  }
</style>
