---
const { text } = Astro.props;
---

<button>{text}</button>

<style>
  button {
    background-color: var(--main-color);
    color: #ffff;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 2rem;
    cursor: pointer;
    margin: 5px 0;
    width: 200px;
  }
  button:hover {
    background-color: #b32167;
    transition: 0.4s;
  }
</style>
