---
import Logo from "./Logo.astro";
import BtnPrimary from "./BtnPrimary.astro";
---

<div class="d-flex flex-column align-items-center welcome">
  <Logo />
  <h2>AMIGOS, SABORES Y MUSICA QUE TE HACE VIBRAR</h2>
  <BtnPrimary text="Quiero mi evento" />
</div>

<style>
  div {
    padding: 4rem 3rem;
    justify-content: space-evenly;
    height: 100vh;
  }

  h2 {
    text-align: center;
  }
</style>
